* {
     box-sizing: border-box; 
     -ms-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

body {
    background-color:#de0052;
    height: auto;
    margin: auto;
    width: 80%;
    height:auto;
}

#container {
    width:75%;
    margin:auto;
    background-color:white;
    overflow:hidden;
}

/* header section*/
.header img{
    width:101%;
}
.navigation {
    float: left;
    margin-top:45px;
}
ul {
    padding:0;
    margin-top:-90px;
}

li {
    display:block;
    padding:20px 30px 20px 30px;
    border:2px solid #6e0c74;
    border-radius: 50px;
    background-color: #6e0c74;
    margin:20px;
    text-align: center;
}
li a {
    text-decoration: none;
    color:#e1e569;
    font-family: "Knewave" , cursive;
}
a:hover {
    color:white;
}
/* body images section*/
#speechbubble {
    float: left;
    margin-top: -510px; 
    margin-left: 250px;
}
#bigmama {
    float: right;
    margin-top: -570px;
}
/* contact section*/
.contact {
    clear: both;
}
